@media (min-width: 640px) {
    /* small tablets */
}

@media (min-width: 1024px) {
    /* laptops and desktops */
}

@media (min-width: 1440px) {
    /* large screens */
}


@media only screen and (min-width: 1200px) {
    .contact-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: normal;
        justify-content: center;
    }
    .contact-info h2 {
        color: var(--primary-text);
        margin: 0;
        padding: 1.25em;
    }
    
    .contact-info ul {
        color: var(--primary-text);
        margin: 0;
        padding-left: 3em;
    }
}

@media only screen and (min-width: 900px) {
    #contact .title {
        font-size: 2.5em;
        padding-left: 0;
    }
    #contact .container {
        width: 80%;
    }

    .contact-container {
        padding: 0;
        padding-top: 1em;
    }

    .form-box {
        min-height: 60%;
        min-width: 60%;
    }
}