/* ------------------------ contact  ------------------------*/

#contact {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding-bottom: 3em;
}

#contact .container {
    width: 100%;
}

#contact .title {
    font-size: 2em;
    font-weight: 700;
    color: var(--main-collor-light);
    padding-left: 20px;
}

.contact-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.contact-info{
    margin-top: 1em;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25em;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--skill-tags-bg);
    /* border: 2px solid var(--opposite-bg); */
    border-radius: 20px;
    box-shadow: 0 4px 6px #bbbaba;
    min-height: 80%;
    min-width: 80%;
    padding-bottom: 1.5em;
}

.form-box h2 {
    color: var(--primary-text);
    margin: 0;
    padding: 1.25em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 65%;
}

.contact-form button {
    background-color: var(--accent-blue);
    height: 2.5em;
    border: none;
    align-self: center;
    color: var(--white-text);
}

.contact-div input,
.contact-div textarea {
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

.contact-div input,
.contact-div textarea,
.contact-form button {
    width: 100%;
    border-radius: 14px;
}

.contact-form button:hover {
    background-color: var(--button-hover);
}

.contact-div textarea {
    height: 150px;
    
}

.contact-info h2 {
    color: var(--primary-text);
}

.contact-info ul {
    color: var(--primary-text);
    max-width: fit-content;
}
.contact-info ul li {
    margin-bottom: 1em;
    max-width: fit-content;
}
.contact-info ul li a {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-info ul li a:hover {
    color: var(--accent-blue) !important;
}

@media only screen and (min-width: 1200px) {
    .contact-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: normal;
    }
    .contact-info h2 {
        color: var(--primary-text);
        margin: 0;
        padding: 1.25em;
    }
    
    .contact-info ul {
        color: var(--primary-text);
        margin: 0;
        padding-left: 3em;
    }
}


@media only screen and (min-width: 900px) {
    #contact .title {
        font-size: 3em;
        padding-left: 0;
    }

    #contact .container {
        width: 80%;
    }

    .contact-container {
        padding: 0;
        padding-top: 1em;
    }

    .form-box {
        min-height: 60vh;
        min-width: 60vh;
    }

    
}