@media (min-width: 640px) {
    /* small tablets */
}

@media (min-width: 1024px) {
    /* laptops and desktops */
}

@media (min-width: 1440px) {
    /* large screens */
}


@media only screen and (min-width: 1200px) {
    #hero {
        padding-top: 5em;
        padding-bottom: 0%;
        /* min-height: 90vh; */
    }

    #hero .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        padding: 0;
    }

    #hero .left {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    #hero .left .text0 {
        font-size: 0.75em;
    }

    #hero .left .text1 {
        font-size: 4em;
    }

    #hero .left .text2 {
        font-size: 3em;
    }

    #hero .left .text3 {
        width: 70%;
        margin-bottom: 1em;
        font-size: 1em;
    }

    /* ------------------------ right side  ------------------------*/
    .btn-container ul {
        gap: 1em;
    }

    .left .btn {
        width: 6em;
    }

    .socials {
        font-size: 1.5em;
    }
}