.skills .title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: var(--primary-text);
}
.skill-container {
    display: flex;
    /* flex-direction: column; */
    gap: 1em;
    overflow: scroll;
    padding: 10px;
}

.single-skill-container {
    background-color: var(--skill-tags-bg);
    box-shadow: 0 4px 6px #bbbaba;
    padding: 1em;
    border-radius: 15px;

    min-width: 250px;
}

.single-skill-container h1 {
    margin: 0;
    margin-bottom: 0.25em;
}


.skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.skill {
    border: 2px solid var(--skill-tags-border);
    border-radius: 15px;
    padding: 0.25em;
    display: flex;
    align-items: center;
    gap: 0.15em;
}

.skill img {
    width: 1.5em;
}

@media only screen and (min-width: 900px) {
    .skill-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em;
        overflow: unset;
    }

    #skills .container {
        width: 80%;
    }

    #skills .title {
        font-size: 3em;
        padding-left: 0;
        margin: 0;
    }
}