@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-collor-light: #FAFAFC;
    --main-collor-dark: #1c1c1c;

    --text-color-blue: #00AAFF;
    --text-color-darkBlue: #042940;
    --text-color-grey: #8a8f93;
}

/* ------------------------ general  ------------------------*/
html, body {
    background-color: var(--main-collor-light);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section .container, .header-container{
    margin-left: 20vh;
    margin-right: 20vh;
}

.text {
    color: var(--main-collor-light);
    font-size: 2.5em;
    font-weight: 500;
}

/* ------------------------ header  ------------------------*/
header {
    background-color: var(--main-collor-dark);
    position: fixed;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
}

a {
    color: var(--main-collor-light);
    text-decoration: none;
}

#homeLink{
    display: flex;
    align-items: center;
}
#homeLink a{
    color: var(--main-collor-light);
    font-size: 35px;
}

/* ------------------------ btn  ------------------------*/
.btn {
    display: block;
    background-color: var(--main-collor-dark);
    width: 5em;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    color: var(--main-collor-light);
}

.btn:hover{
    color: var(--text-color-grey);
}

.nav-contact {
    color: var(--main-collor-light);
    background-color: var(--text-color-blue);
}

/* ------------------------ hero  ------------------------*/
#hero {
    background-color: var(--main-collor-dark);
}

#hero .container{
    height: 100vh;
    
}


/* ------------------------ footer  ------------------------*/
footer {
   display: flex;
   justify-content: center;
}