@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* ------------------- light mode ------------------- */
    --background: #FFFFFF;
    --primary-text: #1A1A1A;
    --accent-blue: #007ACC;
    --subtext: #666666;
    --button: #0A84FF;
    --button-hover: #0066CC;
    --skill-tags-bg: #F2F2F2;
    --skill-tags-border: #CCE8FF;
    --section-separators: #F9FAFB;
    --white-text: #FFFFFF;
    --box-border-glow: transparent;
    --nav-mobile: #131b2cda;
    --project-section-bg: #EDF3F8;
    --dark-border: #013253;
}

.dark {
    --background: #0d1117;
    --primary-text: #ffffff;
    --accent-blue: #0099ff;
    --subtext: #a3aab8;
    --button: #1e90ff;
    --button-hover: #0099ff;
    --skill-tags-bg: #111827;
    --skill-tags-border: #00bfff;
    --box-border-glow: #00ccff;
    --white-text: #ffffff;
    --project-section-bg: #F5F9FC;
}


/* ------------------------ general  ------------------------*/
html,
body {
    margin: 0;
    font-family: 'Geist', sans-serif;
    background-color: var(--background);
}

.text {
    font-weight: 500;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: var(--primary-text);
    text-decoration: none;
}

h1 {
    margin-top: 0;
}

.container,
.header-container {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (min-width: 900px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* ------------------------ btn  ------------------------*/
.btn {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

/* ------------------------ experience  ------------------------*/

#experience {
    background-color: var(--main-collor-dark-3);
    display: flex;
    flex-direction: column;
}

#experience::before {
    content: '';
    background: linear-gradient(to bottom,
            var(--main-collor-dark),
            rgba(255, 255, 255, 0));
    height: 1.5em;
    width: 100%;
}

#experience .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#experience .text {
    font-size: 4em;
    color: var(--main-collor-light);
}


/* ------------------------ contact  ------------------------*/

#contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3em;
}

#contact .container {
    width: 100%;
}

#contact .title {
    font-size: 2em;
    font-weight: 700;
    color: var(--main-collor-light);
    padding-left: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25em;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--skill-tags-bg);
    border: 2px solid var(--skill-tags-border);
    border-radius: 20px;
    box-shadow: 0 4px 6px #bbbaba;
    min-height: 80%;
    min-width: 80%;
    padding-bottom: 1.5em;
}

.form-box h2 {
    color: var(--primary-text);
    margin: 0;
    padding: 1.25em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 65%;
}

.contact-form button {
    background-color: var(--accent-blue);
    height: 2.5em;
    border: none;
    align-self: center;
    color: var(--white-text);
}

.contact-div input,
.contact-div textarea {
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

.contact-div input,
.contact-div textarea,
.contact-form button {
    width: 100%;
    border-radius: 14px;
}

.contact-form button:hover {
    background-color: var(--button-hover);
}

.contact-div textarea {
    height: 150px;
    
}

@media only screen and (min-width: 900px) {
    #contact .title {
        font-size: 3em;
        padding-left: 0;
    }

    #contact .container {
        width: 80%;
    }

    .contact-container {
        padding: 0;
    }

    .form-box {
        min-height: 60vh;
        min-width: 60vh;
    }
}

/* ------------------------ footer  ------------------------*/
footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-collor-dark);
    color: var(--color-light-blue);
    padding: 10px;
}